In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import nltk
from nltk.corpus import stopwords

In [ ]:
business = pd.read_csv('onlyRestaurants.csv')
business.head()

reviews = pd.read_csv('yelp_academic_dataset_review.csv')

In [3]:
business.shape

In [4]:
reviews.shape

In [5]:
business.head()

In [6]:
reviews.head(100)

In [9]:
business_id = business['business_id']
reviews = pd.read_csv("yelp_academic_dataset_review.csv",nrows=100000) #considering only a chunk of reviews
reviews = reviews.drop(['useful','funny','cool','date','user_id','review_id'], axis=1)
reviews.head()
rbusiness_id = reviews ['business_id']
print(len(rbusiness_id))

200000

In [10]:
reviews.head()
def intersection(lst1, lst2): 
    return list(set(lst1) & set(lst2))

In [11]:
reviews.head()

,stars,text,business_id
0,2,The pizza was okay. Not the best I've had. I p...,iCQpiavjjPzJ5_3gPD5Ebg
1,5,I love this place! My fiance And I go here atl...,pomGBqfbxcqPv14c3XH-ZQ
2,1,Terrible. Dry corn bread. Rib tips were all fa...,jtQARsP6P-LbkyjbO1qNGg
3,2,Back in 2005-2007 this place was my FAVORITE t...,elqbBhBfElMNSrjFqW3now
4,5,Delicious healthy food. The steak is amazing. ...,Ums3gaP2qM3W1XcA5r6SsQ

In [12]:
common = intersection(rbusiness_id, business_id)
print(len(common))

30524

In [ ]:
for i in range (len(common)):
    if reviews.iloc[i]['business_id'] in common:
         reviews.to_csv("FilteredRestaurantReviews.csv",index=False)